<% if (typeof errors !== 'undefined') { %>
    <% errors.forEach((error) => { %>
        <div class="notification is-danger">
            <button class="delete"></button>
            <%= error.msg %>
        </div>
    <% }) %>
<% } %>